<h2>List of All Bands</h2>

<ol>
  <% @bands.each do |band| %>
    <li><%= band.name %></li>
    <form class="" action="<%=band_url(band)%>" method="get">
      <input type="submit" name="" value="See Albums">
    </form>
    <form class="" action="<%=edit_band_url(band)%>" method="get">
      <input type="submit" name="" value="Edit Band">
    </form>
    
    <form class="" action="<%=band_url(band)%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="submit" name="" value="Delete Band">
    </form>
    
    <form class="" action="<%=new_band_album_url(band)%>" method="get">
      <input type="submit" name="" value="Create an album for this band">
    </form>
    <br>
  <% end %>
</ol>
